@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap");

* {
  box-sizing: border-box;
}
body {
  font-family: "Work Sans", sans-serif;
}
nav {
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.nav-container {
  display: flex;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
}
.logo-container {
  display: flex;
  align-items: center;
  width: 50%;
}
.logo-container img {
  width: 87px;
  height: 40px;
  object-fit: cover;
}
.logo-container p {
  margin-left: 10px;
}
.gamer-G {
  color: rgb(238, 70, 126);
  font-size: 45px;
  font-weight: 600;
}
.gamer-amer {
  color: #0b0223;
  font-size: 45px;
  font-weight: 600;
}
.nav-bar-container {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-bar-container a {
  text-decoration: none;
  color: black;
}
.follow-btn {
  background-color: rgba(11, 2, 35, 0.1);
  padding: 5px 15px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.svg {
  margin: 10px;
}

/* banner section */

.banner-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.banner-container1 {
  background-image: url(./images/Group\ 14.png);
  background-repeat: no-repeat;
  width: 60%;
  height: 450px;
  text-align: center;
}

.banner-container-h3 {
  color: #0b0223;
  font-size: 45px;
  font-weight: 500;
}
.banner-container-h1 {
  margin-top: -50px;
  font-size: 80px;
  font-weight: 600;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.banner-pera {
  color: #878688;
  margin-top: -50px;
  margin-right: 100px;
}
.btn-banner {
  display: flex;
  align-items: center;
  padding: 0px 300px;
  gap: 10px;
}
.btn-sign-in {
  padding: 10px 20px;
  border-radius: 48px;
  border: none;
  background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
}
.btn-go-rogue {
  padding: 10px 20px;
  border-radius: 48px;
  border: none;
  background: #4ec5f7;
}
.banner-container2 {
}
.banner-container2 img {
  width: 70%;
}

/* online game section */
.card-container1 {
  text-align: center;
}
.games-h3 {
  color: #0b0223;
  font-size: 48px;
  font-weight: 700;
}
.funny-videos {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 48px;
  font-weight: 700;
}

.games-p {
  color: #534c64;
  font-size: 18px;
  font-weight: 400;
  margin-top: -40px;
}

.card-container2 {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  margin-left: 200px;
}

/* .card-container2 card1{
  width: 200px;
  margin: 0px 30px;
  

}
.card-container2 card2{
  width: 200px;
  margin: 0px 20px;

}
.card-container2 card3{
  width: 200px;
  margin: 0px 30px;


}
.card-container2 card4{
  width: 200px;
  margin: 0px 30px;

}  */

.card3 :hover{
    border: 3px solid orangered;
    background-color: #4b187f;
    transform: scale(1.2);
    cursor: grab;
}

.card-container2 img {
  width: 250px;
  height: 350;
  display: flex;
  justify-content: space-evenly;
}

/* play instantly section */

.online-games-banner-cards {
  display: flex;
  margin-top: 50px;
}

.online-games-cards {
  width: 50%;
  text-align: center;
  padding-top: 80px;
}
.play-h3 {
  font-size: 40px;
  font-weight: 600;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.play-h4 {
  font-size: 40px;
  font-weight: 600;
}
.play-p {
  color: #534c64;
  font-size: 15px;
  font-weight: 400;
}

.img-games-cards {
  width: 50%;
}

.img-games-cards1 img {
  width: 400px;
  border-radius: 8px;
}
.img-games-cards2 img {
  width: 150px;
  position: relative;
  bottom: 150px;
}

/* gaming button styles */


.game-button {
  width: 1500px;
  height: 427px;
  margin-top: -60px;
  margin-bottom: 50px;
  

  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
  /* padding-left: 200px; */
  padding: 100px 200px;
  width: 100%;
  height: 100%;
}

.game-button-all {
 
}

.game-button-all button  {
  border-radius: 50px;
  width: 200px;
  height: 50px;
  margin: 30px 5px;
  border: none;
  cursor: grab;
}
.game-button-all  button :hover {
  
  background-color: rgb(60, 143, 143);
}

.game-button-all-2 button :hover{
  border:  #4ec5f7;
  background-color: rgb(246, 68, 234);

}

.game-button-all-2 button  {
  border-radius: 50px;
  width: 200px;
  height: 50px;
  margin: 30px 5px;
  border: none;
  cursor: grab;
  
}

.game-button-all button .button-icon-1 img  {
  width: 15px;
  background: #fff;
}

.game-button-all-2 button .button-icon-2 img {
  width: 15px;
  background: #fff;
}

.game-button-all button .button-text {
  color: #0b0223;
  font-weight: 600;
  
}
.game-button-all-2 button .button-text {
  color: #0b0223;
  font-weight: 600;
  
}




/* footer section */

.footer-section {
  width: 100%;
  height: 400px;
  background-color: #0b0223;
}
/* .logo-container{
  width: 80%;
  height: 300px;
  margin: 80px 200px;
  padding: 200px;
  border: 1px solid palevioletred;
} */

.container-all {
  text-align: center;
}
.logo-container7 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-container7 img {
  width: 87px;
  height: 40px;
  object-fit: cover;
}
.logo-container7 p {
  margin-left: 10px;
  margin-bottom: 10px;
}
.gamer-G7 {
  color: rgb(238, 70, 126);
  font-size: 45px;
  font-weight: 600;
}
.gamer-amer7 {
  color: white;
  font-size: 45px;
  font-weight: 600;
}

.li-footer p {
  color: white;
  display: inline-flex;
  list-style: none;
  padding: 10px;
  gap: 50px;
}
.fa-brands{
  font-size: 50px;
  gap: 50px;
  margin: 10px;
}
.footer-list {
  color: white;
  display: inline-flex;
  padding: 10px;
  gap: 60px;
}
.footer-description {
  color: rgba(255, 255, 255, 0.555);
  font-size: 16px;
  font-weight: 500;
}
